body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}


.header-logo {
    font-size: 40px;
    font-weight: bolder;
    color: #f9faf8;
}

.site-header{
    height: 75px;
}
.site-header .header-container {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #1f2937;
}
.main-nav ul{
    
    text-align: center;
}

.main-nav li {
    display: inline;
}

.main-nav a{
    display: inline-block;
    color: #f9faf8;
    padding-left: 50px;
    
}
