body {
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
}
#page-header {
    height: 60px;
    width: 100%;
    margin: auto;
    padding: 15px 100px 15px 100px;
    background-color: #1f2937;
    display: flex;
    align-items: center;

    
}

.header-logo {
    font-size: 35px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-item {
    flex-direction: flex-end;
}
